spring:
  application:
    name: user-service
  config:
    import:
      - optional:file:./data-sources.yaml
      - optional:classpath:data-sources.yaml
  web:
    error:
      include-message: always

server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs