spring:
  application:
    name: user-service
  config:
    import:
      - optional:file:./data-sources.yaml
      - optional:classpath:data-sources.yaml
  web:
    error:
      include-message: always

server:
  port: 8080

logging:
  pattern.console: "%green(%d{HH:mm:ss.SSS}) %blue(%-5level) %red([%thread]) %yellow(%logger{15}) - %msg%n"

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs
